:root {
    --primary-bg-color: hsl(25, 75%, 50%);
    --button-bg-color: black;
    --button-hover-color: hsl(0, 0%, 40%);
    --button-active-color: hsl(0, 0%, 50%);
    --text-color: white;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(20, 25%, 77%);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    height: fit-content;
    overflow: hidden;
    position: relative;
    top: 32px;
}

#display {
    width: 100%;
    margin: 0 auto;
    padding: 35px;
    font-size: 3rem;
    text-align: right;
    border: none;
    background-color: black;
    color: var(--text-color);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 25px;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: -8px -8px 15px rgb(0, 0, 30);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
}

button:focus {
    outline: 2px solid var(--button-active-color);
}

@media screen and (max-width: 500px) {
    #calculator {
        width: 100%;
    }

    #display {
        font-size: 2rem;
        padding: 20px;
    }

    button {
        height: 40px;
        font-size: 1.2rem;
    }
}
